# Default ignored files
/shelf/
/workspace.xml
*.pyd
# temporary / local files
*.tmp
*.temp
*.swp
*~
*.bak
*.log
*.cache/
.vscode/

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# XML files
*.xml